obj/
Debug/

*.db-shm
*.db-wal
ProjetoGerenciamentoRestaurante.RazorPages/obj/Debug/net7.0/project.razor.json
ProjetoGerenciamentoRestaurante.API/bin/Debug/net7.0/ProjetoGerenciamentoRestaurante.API.dll
ProjetoGerenciamentoRestaurante.API/bin/Debug/net7.0/ProjetoGerenciamentoRestaurante.API.exe
ProjetoGerenciamentoRestaurante.API/bin/Debug/net7.0/ProjetoGerenciamentoRestaurante.API.pdb
ProjetoGerenciamentoRestaurante.API/obj/project.assets.json
ProjetoGerenciamentoRestaurante.API/obj/project.nuget.cache
ProjetoGerenciamentoRestaurante.API/obj/ProjetoGerenciamentoRestaurante.API.csproj.nuget.dgspec.json
ProjetoGerenciamentoRestaurante.API/obj/ProjetoGerenciamentoRestaurante.API.csproj.nuget.g.props
ProjetoGerenciamentoRestaurante.API/obj/Debug/net7.0/apphost.exe
ProjetoGerenciamentoRestaurante.API/obj/Debug/net7.0/ProjetoGerenciamentoRestaurante.API.assets.cache
ProjetoGerenciamentoRestaurante.API/obj/Debug/net7.0/ProjetoGerenciamentoRestaurante.API.csproj.AssemblyReference.cache
ProjetoGerenciamentoRestaurante.API/obj/Debug/net7.0/ProjetoGerenciamentoRestaurante.API.csproj.CoreCompileInputs.cache
ProjetoGerenciamentoRestaurante.API/obj/Debug/net7.0/ProjetoGerenciamentoRestaurante.API.csproj.FileListAbsolute.txt
ProjetoGerenciamentoRestaurante.API/obj/Debug/net7.0/ProjetoGerenciamentoRestaurante.API.dll
ProjetoGerenciamentoRestaurante.API/obj/Debug/net7.0/ProjetoGerenciamentoRestaurante.API.GeneratedMSBuildEditorConfig.editorconfig
ProjetoGerenciamentoRestaurante.API/obj/Debug/net7.0/ProjetoGerenciamentoRestaurante.API.genruntimeconfig.cache
ProjetoGerenciamentoRestaurante.API/obj/Debug/net7.0/ProjetoGerenciamentoRestaurante.API.pdb
